@page
@model IndexModel
@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="container" style="position:relative; text-align:center; color:white;">
    <img src="https://images.wallpaperscraft.ru/image/knigi_chashka_chaj_podokonnik_okno_komnatnoe_rastenie_113580_3840x2400.jpg" alt="Books" style="height:60%; width:96%;" >
    <div class="centered" style="position: absolute; top: 15%; left:50%; transform: translate(-50%, -50%);">
        <h1 style="color: black; border-radius:20px">Сайт учета прочитанных книг</h1>
        <p class="lead" style="        color: black;
       border-radius:20px
">Читающий человек на голову выше других. Облегчите себе жизнь, ведите учет прочитанных книг онлайн!</p>
    </div>
         
         
    
</div>
