@model IEnumerable<Knigo.Data.Models.PublisherShakunVA>

@{
    ViewData["Title"] = "Список издательств";
}

<h1>Список издательств</h1>

<p>
    <a asp-action="Create">Добавить издательство</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Идентификатор
            </th>
            <th>
                Издательство
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
            </td>
        </tr>
}
    </tbody>
</table>
